*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #52605d;
}

#calculator{
    box-sizing: border-box;
    background-color: pink;
    padding: 32px;
    margin: 32px auto;
    border: 4px solid #001F17;
    border-radius: 16px;
    width: 400px;
    display:flex;
    flex-direction: column;
}

#display{
    box-sizing: border-box;
    width: 100%;
    height: 64px; 
    margin-bottom: 16px;
    padding: 14px;
    background-color: white;
    border: 2px solid #001F17;
    border-radius: 6px;
    font-family: "Courier New", Courier, monospace;
    font-size: 32px;
}

#buttons{
    width: 100%;
    display: flex;
}

button{
    font-size: 32px;
    margin: 6px;
    background-color: #FF66CC;
    color: white;
    border-radius: 5px;
}

#number-buttons{
    width: 75%;
    display: flex;
    flex-wrap: wrap;
}

#number-buttons button{
    width: 28%;
    height: 64px;
    gap: 10px;
}

#operator-buttons{
    width: 22%;
    display: flex;
    flex-flow: column;
}